__pycache__/

.DS_Store
.env
.vscode

/config/

creds/
generated/
local/
notebooks/
out/
test/
venv/
scratch/
scripts/

legacy/

application/algo/node/
application/algo/type/
application/control/
main-algo-*